{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@/src": "./src",
          "@/pages": "./pages",
          "@/public": "./public",
          "@/request": "./src/utils/request",
          "@/components": "./src/components",
          "@/pageCom": "./src/components/_pageComponents"
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
